# Виртуальное окружение
.venv/
venv/
env/

# Python кэш
__pycache__/
*.pyc
*.pyo

# PyCharm служебные файлы
.idea/
# Переменные окружения / секреты
.env

# macOS системные файлы
.DS_Store

# Логи
*.log